body{
    margin: auto;
    background-color: rgb(230, 230, 230);
}
html{
    font-family: 'roboto', 'sans-serif';
}
.header{
    height: 120px;
    background-image: linear-gradient(0,#f63c29,#ff5a2d);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0px;
    margin: 8px 0 0 0;
    display: flex;
    align-items: center;
   
}
.header__navbar-item-link{
    color: white;
    text-decoration: none;
}
.header__navbar-icon{
    color: white;
    margin-left: -1px;
}
.header__navbar-icon + .header__navbar-icon{
    margin: 0 5px;
}
.header__navbar-item,.header__navbar-user,.header__navbar-nohover,.header__navbar-noopacity,.a{
    display: inline-block;
    font-size: 15px;
    color: white;
    margin: 0 8px;
    position: relative;
}
.header__navbar-user{
    display: flex;
    align-items: center;
    position: relative;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-avatar{
    width: 22px;    
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.header__navbar-user-menu{
    list-style: none;
    position: absolute;
    padding-left: 0;
    width: 160px;
    top: calc(100% + 6px);
    right: 0;
    color: black;
    background-color: white;
    border-radius: 2px;
    z-index: 1;
    box-shadow: 0 1px 3px rgb(119, 119, 119);
    display: none;
    animation: fadein ease-in 0.1s;
}
.header__navbar-user-menu::before{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 12px;
    top: -29px;
    z-index: -1;
}
.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 60%;
    height: 8px;
    background-color: transparent;
}
.header__navbar-user-name{
    margin-left: 4px;
    font-style: 15px;
    font-weight: 600;
}
.header__navbar-user-item a{
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-size: 15px;
    padding: 8px 16px;
    display: block;
}
.header__navbar-user-item a:hover{
    background-color: #eeeeee;
    border-radius: 2px;
}
.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}
.header__navbar-item:hover,.header__navbar-icon:hover,.a:hover{
    opacity: 0.8;
    cursor: pointer;
}
.header__navbar-item--qr:hover .header__qrcode{
    display: block;
}
.header__navbar-item--bold{
    font-weight: bold;
}
.navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    width: 1px;
    background-color:#f9827a;
    top: -5px;
    margin-left: -5px;
}
.header__qrcode{
    background-color: white;
    width: 186px;
    padding: 10px;
    position: absolute;
    top: 120%;
    border-radius: 2px;
    display: none;
    will-change: fadein;
    animation: fadein ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 3px 3px rgb(119, 119, 119);
}
.header__qrcode::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}
.header__qrcode-img{
    width: 100%;
}
.header__qrcode-apps{
    display: flex;
    justify-content: space-between;
}
.header__qrcode-downloads{
    height: 16px;
    margin: 0 12px;
}
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.header__thongbao{
    position: absolute;
    top: 150%;
    right: 0;
    width: 404px;
    background-color: white;
    border: 1px solid #b3b3b3;
    transform-origin: 90% top ;
    will-change: growth;
    animation: growth ease-in 0.25s;
    box-shadow: 0 3px 3px rgb(119, 119, 119);
    border-radius: 2px;
    display: none;
    z-index: 2;
}
.header__thongbao::before{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 12px;
    top: -29px;
}
.header__thongbao::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}
.header__navbar-noopacity:hover .header__thongbao{
    display: block;
}
@keyframes growth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
h3{
    color: #999;
    margin: 0 0 0 12px;
    font-size: 1.2rem;
    line-height: 40px;
}
.header__thongbao-header{
    background-color: white;
    cursor: default;
}
.header__thongbao-list{
    padding-left: 0;
    list-style: none;
}
.header__thongbao-item:hover{
    cursor: pointer;
}
.header__thongbao-link{
    display: flex;
    padding: 12px;
    background-color: rgba(238, 75, 43, 0.1);
}
.header__thongbao-link:hover{
    background-color: #f0f0f0;
}
.header__thongbao-img{
    width: 48px;
    height: 48px;
    object-fit: contain;
}
.header__thongbao-info{
    margin-left: 10px;
}
.header__thongbao-name{
    color: rgb(0, 0, 0);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}
.header__thongbao-mota{
    color: rgb(100, 100, 100);
    margin-top: 0;
}
.header__thongbao-footer{
    display: flex;
}
.header__thongbao-footer--btn{
    text-decoration: none;
    color: rgb(97, 97, 97);
    font-weight: bold;
    padding: 8px 16px;
    margin: auto;
}
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    animation: fadein linear 0.1s;
    display: none;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal__body{
    background-color: white;
    border-radius: 5px;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.2s;
}
.auth-form{
    width: 500px;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 16px;
}
.auth-form__heading{
    font-size: 20px;
}
.auth-form__switch-btn{
    color: #f63c29;
}
.auth-form__input{
    width: 96%;
    height: 40px;
    margin-bottom: 10px;
    padding: 0 10px;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__policy-link{
    color: #f63c29;
    text-decoration: none;
}
.auth-form__control{
    margin-top: 90px;
}
.btn{
    min-width: 124px;
    height: 36px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    font-size: 13px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.btn.btn--primary{
    color: white;
    background-color: #f63c29;
}
.auth-form__control{
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back{
    margin-right: 8px;
}
.auth-form__socials{
    background-color: #d3d3d3;
    margin-top: 20px;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn--with-icon{
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.auth-form__socials-icon{
    font-size: 20px;
}
.facebook{
    width: 200px;
    height: 36px;
    border: none;
    text-decoration: none;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
    background-color: #3a5a98;
}
.google{
    width: 200px;
    height: 36px;
    border: none;
    text-decoration: none;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer; 
    background-color: white;
    color: black;
}
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
.auth-form__socials-text{
    margin: 0 16px;
}
/* login */
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 14px;
    color: #939393;
}
.auth-form__help-separate{
    display: block;
    height: 15px;
    margin: 2px 16px 0;
    border-left: 1px solid #888;
}
.auth-form__help-forgot{
    color: #f63c29;
}
/* Thanh tìm kiếm, logo, giỏ hàng */
.header-with-search{
    height: 88px;
    display: flex;
    align-items: center;
}
.header__logo{ 
    width: 150px;
    padding: 0 60px 0 15px;
}
.header__search{
    background-color: white;
    height: 40px;
    border-radius: 3px;
    flex: 1;
    display: flex;
    align-items: center;
}
.header__cart{
    width: 180px;
    color: white;
    font-size: 25px;
    text-align: center;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}
.header__cart-notice{
    position: absolute;
    padding: 2px 7px;
    top: -8px;
    right: -4px;
    background-color: white;
    color: #f63c29;
    border: 2px solid #ee4d2d;
    font-size: 12px;
    line-height: 12px;
    border-radius: 10px;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-list::before{
    content: "";
    position: absolute;
    cursor: pointer;
    right: 12px;
    top: -30px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
.header__cart-list{
   position: absolute;
   top: calc(100% + 8px);
   background-color: white;
   right: -18px;
   width: 400px;
   border-radius: 2px;
   box-shadow: 0 2px 10px #ccc;
   display: none;
   animation: fadein ease-in 0.1s;
   cursor: default;
   z-index: 1;
}
.header__cart-list--nocart .header__cart-nocart--img,
.header__cart-list--nocart .header__cart-nocart--text{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* có giỏ hàng */
.header__cart-heading{
    color: #888;
    font-size: 15px;
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.header__cart-itemlist{
    padding-left: 0;
    list-style: none;
    height: 25vh;
    overflow-y: auto;
}
.header__cart-item{
    display: flex;
    background-color: #f8f8f8;
}
.header__cart-item:hover{
    background-color: #eeeeee;
    cursor: pointer;
}
.header__cart-item-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #888;
}
.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}
.header__cart-item-name{
    font-size: 14px;
    font-weight: 500;
    line-height: 2rem;
    padding-right: 16px;
    overflow: hidden;
    color: black;
    display: -webkit-box;
    flex: 1;
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.header__cart-item-price{
    font-size: 14px;
    color: #f63c29;
}
.header__cart-item-multiply{
    font-size: 12px;
    color: #757575;
    margin: 0 4px;
}
.header__cart-item-qnt{
    font-size: 13px;
    color: #757575;
}
.header__cart-item-bottom{
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.header__cart-item-mota{
    color: #757575;
    font-size: 14px;
}
.header__cart-item-remove{
    color: #757575;
    font-size: 14px;
}
.header__cart-item-remove:hover{
    color: #f63c29;
    cursor: pointer;
}
.header__cart-item-xemgiohang {
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-item-xemgiohang:hover{
    background-color: #f05d41;
}
/* Không giỏ hàng */
.header__cart-list--nocart{
    padding: 28px 0;
    display: none;
}
.header__cart-nocart--img{
    width: 70%;
    display: none;
}
.header__cart-nocart--text{
    color: black;
    margin: 20px 0 0 0;
    font-size: 18px;
    display: none;
}
/* Thanh tìm kiếm */
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 16px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 15px;
    border-radius: 3px;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
.header__search-history{
    position: absolute;
    left: 0;
    top: calc(100% + 3px);
    width: calc(100% - 16px);
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgb(182, 182, 182);
    display: none;
    z-index: 1;
}
.header__search-history-link{
    text-decoration: none;
    color: black;
    font-size: 15px;
    line-height: 38px;
    display: block;
}
.header__search-history-heading{
    margin: 6px 12px;
    font-size: 15px;
    color: #999;
}
.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}
.header__search-history-item:hover{
    background-color: #f5f5f5;
    border-radius: 3px;
}
.header__search-history-list{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 6px;
}
.header__search-select{
   border-left: 1px solid #ccc;
   padding-left: 16px;
   position: relative;
}
.header__search-select--icon{
    color: #4a4a4a;
    margin: 0 16px;
}
.header__search-button{
    background-color: #f63c29;
    border: none;
    height: 33px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
}
.header__search-button:hover{
    background-color: #fc6656;
    cursor: pointer;
}
.header__search-button--icon{
    color: white;
    font-size: 15px;
}
.header__search-select:hover .header__search-option{
    display: block;
    cursor: pointer;
}
.header__search-option{
    list-style: none;
    position: absolute;
    right: 0;
    top: 85%;
    width: 145px;
    padding: 0;
    box-shadow: 0 1px 3px rgb(119, 119, 119);
    border-radius: 3px;
    display: none;
    animation: fadein ease-in 0.1s;
}
.header__search-option::before{
    content: "";
    width: 100%;
    display: block;
    height: 20px;
    background-color: transparent;
    position: absolute;
    top: -20px;
    left: 0;
}
.header__search-option-item{
    background-color: white;
    padding: 8px 8px;
    border-radius: 3px;
    text-align: right;
}
.header__search-option-text{
    margin-right: 35px;
}
.header__search-option-item:hover{
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}
.header__search-option-icon{
    color: #f63c29;
    margin-left: 15px;
    margin-right: 4px;
}
/* Container */
.grid_row{
    display: flex;
}
.grid_row-content{
    padding-top: 36px;
    background-color: rgb(230, 230, 230);
}
.grid_collumn-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__collumn-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid_collumn-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
.container{
    background-color: #f5f5f5;
    margin-top: 120px;
}
.category{
    background-color: white;
    border-radius: 2px;
}
.category_heading-icon{
    font-size: 14px;
    margin-right: 4px;
}
.category_heading{
    font-size: 16px;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-weight: bold;
    margin-top: 0;
}
.category_list{
    list-style: none;
    padding-left: 0;
    margin-left: 10px;
}
.category_item-link{
    position: relative;
    right: 0;
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: block;
    padding: 8px 4px;
    transition: right linear 0.1s;
}
.category_item-active{
    color: red;
    position: relative;
    right: 0;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 8px 8px;
    transition: right linear 0.1s;
}
.category_item-link:hover{
    color: #f63c29;
    right: -4px;
}
.category_item-active-arrow{
    margin-right: 10px;
}
.category_item{
    position: relative;
}
.category_item:first-child::before{
    display: none;
}
.category_item::before{
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 4px;
    right: 16px;
}
.home-filter{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    padding: 12px 22px;
    margin-left: 4px;
}
.home-fillter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-fillter__page-number{
    font-size: 15px;
    margin-right: 22px;
}
.home-fillter__page-current{
    color: #f63c29;
}
.home-fillter__page-btn{
    flex: 1;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.home-fillter__page-btn--disable{
    cursor: default;
    height: 100%;
    background-color: #f8f8f8;
}
.home-fillter__page-btn--disable .header__search-select--icon{
    color: #ccc;
}
.home-fillter__page-btn:first-child{
    border-right: 1px solid #e9e9e9;
}
.header__search-select--icon2 {
    margin-left: 18px;
    font-size: 14px;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}
.header__search-select--icon{
    font-size: 14px;
    color: rgb(131, 131, 131);
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}
.home-fillter__page-control{
    border-radius: 2px;
    background-color: white;
    width: 72px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-filter_tittle{
    margin-right: 16px;
    font-size: 14px;
    color: #555555;
}
.home-filter_btn {
    min-width: 90px;
    margin-right: 12px;
    background-color: white;
}
.select-input{
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
}
.select-input_label-text{
    margin-right: 180px;
    margin-left: 6px;
}
.select-input:hover .select-input_list{
    display: block;
}
.select-input_list{
    position: absolute;
    left: 0;
    right: 0;
    top: 21px;
    border-radius: 2px;
    background-color: white;
    list-style: none;
    padding: 8px 19px;
    display: none;
    animation: fadein ease-in 0.1s;
    box-shadow: 0 1px 5px rgb(182, 182, 182);
    z-index: 1;
}
.select-input_list::before{
    position: absolute;
    left: 0;
    top: -4px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}
.select-input_label{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-input_link{
    text-decoration: none;
    color: black;
    font-size: 14px;
    display: block;
    padding: 10px 0;
}
.select-input_link:hover{
    color: #f63c29;
}
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    display: block;
    color: black;
    text-decoration: none;
    margin-top: 10px;
    background-color: white;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.home-product-item_img{
   padding-top: 100%;
   background-size: contain;
   background-repeat: no-repeat;
   border-top-left-radius: 2px;
   border-top-right-radius: 2px;
}
.home-product-item_name{
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px;
    margin: 10px 0px 2px; 
    line-height: 18px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.home-product-item_price{
    display: flex;
    margin-left: 10px;
    align-items: baseline;
}
.home-product-item_price-old{
    font-size: 15px;
    color: #666;
    text-decoration: line-through;
}
.home-product-item_price-curent{
    font-size: 16px;
    color: #f63c29;
    margin-left: 4px;
}
.home-product-item_action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 10px 0;
    padding-bottom: 16px;
}
.home-product-item_heart{
    font-size: 14px;
}
.home-product-item_star{
    font-size: 14px;
}
i.home-product-item_heart-icon-fill{
    display: none;
    color: #f63d30;
}
.home-product-item_heart--on .home-product-item_heart-icon-fill{
    display: inline-block;
}
.home-product-item_heart--on .home-product-item_heart-icon-empty{
    display: none;
}
.home-product-item_star{
    font-size: 9px;
    color: #c0c0c0;
    margin: -1px 0 0 auto;
}
.home-product-item_star-gold{
    color: #ffce3e;
}
.home-product-item_sold{
    font-size: 12px;
    margin-left: 6px;
}
.home-product-item_origin{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    color: #595959;
    font-size: 13px;
    font-weight: 300px;
}
.home-product-item_favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: #f63c29;
    background-color: currentColor;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.home-product-item_favourite span{
    color: white;
    padding-right: 4px;
}
.home-product-item_favourite i{
    color: white;
    font-size: 9px;
    margin: 0 2px 0 5px;
}
.home-product-item_favourite::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}
.home-product-item_sale{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    border-top-right-radius: 2px;
    background-color: rgba(255, 216, 64, 0.92);
}
.home-product-item_sale::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.92) transparent rgba(255, 216, 64, 0.94);
}
.home-product-item_sale-percent{
    color: #ee4d2d;
    font-weight: 600;
    font-size: 13px;
}
.home-product-item_sale-label{
    color: white;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: -2px;
}
/* pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: rgb(230, 230, 230);

}
.pagination-item{
    margin: 0 16px;
}
.pagination-item--active .pagination-item_link{
    background-color: #f63c29;
    color: white;
}
.pagination-item_link{
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
}
.pagination-item--active .pagination-item_link:hover{
    background-color: #ed5c3f;
}
.pagination-item_icon, .pagination-item_icon-off {
    line-height: 30px;
}
.pagination-item_icon-off {
    opacity: 0.3;
}
.home-product_pagination{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 48px;
    padding-bottom: 32px;
}
/* footer */
.footer{
    border-top: 4px solid #f63c29;
    background-color: white;
    padding-bottom: 40px;
}
.grid_footer-row{
    display: flex;
    width: 1350px;
    max-width: 100%;
    margin: 0 auto;
}
.footer_heading{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 30px;
}
.footer_list{
    list-style: none;
    padding-left: 0;
}
.footer_item-link{
    text-decoration: none;
    color: #737373;
    padding: 8px 0;
    display: flex;
    align-items: center;
}
.footer_item-link:hover{
    color: #f63c29;
}
.footer_item-icon{
    font-size: 16px;
    margin: -1px 8px 0 0;
}
.footer_download{
    display: flex;
}
.footer_download-qr{
    width: 80px;
    border: 1px solid #888;
}
.footer_download-apps-link{
    margin-left: 16px;
}
/* footerbottom */
.footerbottom{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: rgb(230, 230, 230);
}
.grid_footerbottom-row{
    display: flex;
    justify-content: center;
}
.grid__collumn-2-10{
    width: 18%;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerbottom_heading{
    text-decoration: none;
    color: #555555;
    padding: 8px 0;
    font-size: 14px;
    position: relative;
    font-weight: 500;
}
.footerbottom_heading::before{
    content: "";
    border-right: 1px solid #b3b3b3;
    position: absolute;
    height: 50%;
    top: 10px;
    left: 200px;
}
.footerbottom_mid{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.footerbottom_mid-text{
    display: flex;
    justify-content: center;
    color: #3b3b3b;
    font-size: 15px;
}
.footerbottom-bot_wrap{
    display: flex;
    justify-content: center;
}
.footerbottom_bot{
    text-align: center;
}
.footerbottom_bot-text{
    color: #3b3b3b;
}
.footerbottom_bot-icon{
    margin-right: 8px;
}